@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap");
:root {
  --very-dark-magenta: hsl(300, 43%, 22%);
  --soft-pink: hsl(333, 80%, 67%);
  --dark-grayish-magenta: hsl(303, 10%, 53%);
  --light-grayish--magenta: hsl(300, 24%, 96%);
  --white: hsl(0, 0%, 100%);
}

body {
  margin: 0;
  padding: 0;
}

.container {
  margin: 0;
  padding: 2em;
  font-family: "spartan", sans-serif;
}

h1 {
  font-size: 2em;
  color: var(--very-dark-magenta);
  text-align: center;
  line-height: 1em;
  max-width: 12ch;
  margin-left: auto;
  margin-right: auto;
}

p {
  color: var(--dark-grayish-magenta);
  font-size: 15px;
  font-weight: 500;
  line-height: 1.75em;
}

section ul {
  list-style-type: none;
  padding: 0;
}

.text-review-container li {
  display: block;
  text-align: center;
  font-size: 13px;
  color: var(--very-dark-magenta);
  font-weight: 700;
  background: var(--light-grayish--magenta);
  margin-bottom: 1em;
  padding-top: 1em;
  padding-bottom: 1em;
  border-radius: .5em;
}

.reviews {
  display: block;
  margin-top: 2.5em;
  margin-bottom: 2.5em;
}

.reviews .stars {
  margin-bottom: .7em;
}

.testimonials li {
  background-color: var(--very-dark-magenta);
  padding: 1.5em;
  display: block;
  margin-bottom: 10px;
  border-radius: .5em;
  font-size: 13px;
}

.testimonials li .buyer-profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.testimonials li .buyer-profile .buyer-image {
  border-radius: 5em;
  height: 40px;
  width: 40px;
  margin-right: 1.5em;
}

.testimonials li .buyer-profile .buyer-status {
  margin-bottom: 1.5em;
}

.testimonials li .buyer-profile .buyer-status .buyer-name {
  color: var(--white);
  margin-bottom: 0.5em;
  font-weight: 700;
}

.testimonials li .buyer-profile .buyer-status .buyer-type {
  color: var(--soft-pink);
}

.testimonials li quote {
  color: var(--light-grayish--magenta);
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: #3e52a3;
}

@media (min-width: 821px) {
  .container {
    display: block;
    padding: 5em;
  }
  .text-review-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    place-content: space-between;
  }
  .text-container {
    -webkit-box-align: left;
        -ms-flex-align: left;
            align-items: left;
    width: 30em;
  }
  .h1 {
    font-size: 3rem;
    margin-left: 0;
    margin-right: 0;
    -webkit-box-align: left;
        -ms-flex-align: left;
            align-items: left;
  }
  .reviews li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-line-pack: center;
        align-content: center;
    padding: 1em, 2em;
  }
  .reviews li:first-of-type {
    -webkit-transform: translateX(-3rem);
            transform: translateX(-3rem);
  }
  .reviews li:last-of-type {
    -webkit-transform: translatex(3rem);
            transform: translatex(3rem);
  }
  .reviews {
    -webkit-column-gap: 2rem;
            column-gap: 2rem;
  }
  .testimonials ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .testimonials ul li {
    min-height: 15em;
    margin-right: 2em;
  }
  .testimonials ul li:nth-of-type(2) {
    -webkit-transform: translatey(3rem);
            transform: translatey(3rem);
  }
  .testimonials ul li:nth-of-type(3) {
    -webkit-transform: translatey(6rem);
            transform: translatey(6rem);
  }
}

@media (min-width: 1000px) {
  .reviews ul li {
    min-width: 30em;
  }
  .ratings {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
/*# sourceMappingURL=main.css.map */